<div class="footerContentWrap">
    <footer class="footerWrap footerStyleLight contactFooterWrap">
      <div class="main contactFooter">
        <section>
          <div class="contactAddress">
            <address class="">
              Buzzibodies Baby & Toddler Group<br>
			        Little Gransden Village Hall<br>
              Primrose Hill<br>
              Little Gransden<br>
              Sandy<br>
              SG19 3DP
          </div>
          <div class="contactShare">
            <ul>
              <li>
                <a class="social_icons fShare facebook_image" href="https://www.facebook.com/buzzi.bodies" target="_blank" title="Facebook">
                  <span></span>
                </a>
              </li>
              <li>
                <a class="social_icons fShare email_icon_image" href="mailto:buzzi.bodies@gmail.com" title="Email">
                  <span></span>
                </a>
              </li>
            </ul>
          </div>
        </section>
      </div>
    </footer>
    <div class="upToScrollWrapper">
      <div class="upToScroll">
        <a href="#" class="scrollToTop" title="Back to top">
        </a>
      </div>
    </div>
    <div class="copy main">
      <div class="copyright">
        <a href="/">BuzziBodies</a> &copy;{{ .Now.Year }} All Rights Reserved
        <!-- <a href="#">Terms</a> and <a href="#">Privacy</a> -->
      </div>
    </div>
  </div>
</div>

<div class="upToScroll">
  <a href="#" class="addBookmark icon-star-empty" title="Add the current page into bookmarks"> </a>
  <a href="#" class="scrollToTop icon-up-open-big" title="Back to top"> </a>
</div>

<script src="/js/vendor/jquery-1.11.3.min.js"></script>
<script src="/js/vendor/jquery-migrate.min.js"></script>
<script src="/js/vendor/revslider/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
<script src="/js/vendor/revslider/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
<script src="/js/custom/__main.js"></script>
<script src="/js/vendor/__packed.js"></script>

<script src="/js/custom/shortcodes_init.js"></script>
<script src="/js/custom/_utils.js"></script>

<script src="/js/custom/_front.js"></script>
<script src="/app.js"></script>

</body>

</html>