<!-- <div class="pv5 pv6-l ph3 bg-center cover" style="background-image: url('{{.imageUrl}}')">
  <div class="mw7 center ph3">
    <div class="db mb3">
      <div class="mw7 relative bg-fix-primary mb3">
        <h1 class="f2 f1-l b di lh-title mb3 white mw6 bg-primary">
          {{.title}}
        </h1>
      </div>
      <div class="mw7 relative bg-fix-primary">
        {{ if .subtitle }}
        <p class="b f4 di lh-title mb3 white mw6 bg-primary">
          {{.subtitle}}
        </p>
        {{ end }}
      </div>
    </div>
  </div>
</div> -->


<div id="mainslider_1" class="sliderHomeBullets staticSlider slider_engine_revo slider_alias_revo-babbysitter mainslider_1">
  <div id="rev_slider_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container">
    <div id="rev_slider_1" class="rev_slider fullwidthabanner">
      <ul>

        <li data-transition="fade" data-slotamount="7" data-masterspeed="300" data-saveperformance="off">
          <img src="/images/transparent.png" alt="babbysitter-slider-ground" data-bgposition="center bottom" data-bgfit="normal" data-bgrepeat="no-repeat">
          <div class="tp-caption _bs_slider_title tp-fade skewtorightshort tp-resizeme rs-parallaxlevel-0" data-x="center" data-hoffset="157" data-y="bottom" data-voffset="-412" data-speed="700" data-start="2000" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="words" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">Buzzi Bodies
          </div>
          <div class="tp-caption _bs_slider_title tp-fade skewtorightshort tp-resizeme rs-parallaxlevel-0" data-x="center" data-hoffset="241" data-y="bottom" data-voffset="-357" data-speed="700" data-start="2500" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="words" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">Baby & Toddler Group
          </div>
          <div class="tp-caption _bs_slider_title tp-fade tp-resizeme rs-parallaxlevel-0" data-x="center" data-hoffset="185" data-y="bottom" data-voffset="-301" data-speed="700" data-start="3500" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="words" data-elementdelay="0.2" data-endelementdelay="0.1" data-endspeed="300">Little Gransden
          </div>
          <div class="tp-caption tp-fade rs-parallaxlevel-3" data-x="center" data-hoffset="-176" data-y="bottom" data-voffset="-125" data-speed="700" data-start="500" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">
            <div class="tp-layer-inner-rotation   rs-wave" data-speed="2" data-angle="0" data-radius="5" data-origin="50% 50%">
              <img src="/images/BuzziBee.png" alt="" data-ww="433" data-hh="391">
            </div>
          </div>
          <div class="tp-caption lfl rs-parallaxlevel-3" data-x="center" data-hoffset="-492" data-y="bottom" data-voffset="-348" data-speed="1000" data-start="2500" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">
            <div class="tp-layer-inner-rotation   rs-slideloop" data-easing="Power3.easeInOut" data-speed="2" data-xs="-10" data-xe="10" data-ys="0" data-ye="0">
              <img src="/images/babbysitter-slider-cloud-1a.png" alt="">
            </div>
          </div>
          <div class="tp-caption lft rs-parallaxlevel-4" data-x="center" data-hoffset="-73" data-y="bottom" data-voffset="-548" data-speed="1000" data-start="3500" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">
            <div class="tp-layer-inner-rotation   rs-slideloop" data-easing="Power3.easeInOut" data-speed="2" data-xs="-15" data-xe="15" data-ys="0" data-ye="0">
              <img src="/images/babbysitter-slider-cloud-2a.png" alt="">
            </div>
          </div>
          <div class="tp-caption lfl rs-parallaxlevel-3" data-x="center" data-hoffset="373" data-y="bottom" data-voffset="-123" data-speed="1000" data-start="4500" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">
            <div class="tp-layer-inner-rotation   rs-slideloop" data-easing="Power3.easeInOut" data-speed="2" data-xs="-10" data-xe="10" data-ys="0" data-ye="0">
              <img src="/images/babbysitter-slider-cloud-3a.png" alt="">
            </div>
          </div>
          <div class="tp-caption tp-fade rs-parallaxlevel-5" data-x="center" data-hoffset="-487" data-y="bottom" data-voffset="-251" data-speed="1000" data-start="1200" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">
            <div class="tp-layer-inner-rotation   rs-pulse" data-easing="Power3.easeInOut" data-speed="2" data-zoomstart="1" data-zoomend="1.4">
              <img src="/images/babbysitter-slider-star-1.png" alt="">
            </div>
          </div>
          <div class="tp-caption tp-fade rs-parallaxlevel-6" data-x="center" data-hoffset="-373" data-y="bottom" data-voffset="-533" data-speed="1000" data-start="2000" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">
            <div class="tp-layer-inner-rotation   rs-pulse" data-easing="Power3.easeInOut" data-speed="2" data-zoomstart="1" data-zoomend="1.4">
              <img src="/images/babbysitter-slider-star-2.png" alt="">
            </div>
          </div>
          <div class="tp-caption tp-fade rs-parallaxlevel-7" data-x="center" data-hoffset="-57" data-y="bottom" data-voffset="-491" data-speed="1000" data-start="3000" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">
            <div class="tp-layer-inner-rotation   rs-pulse" data-easing="Power3.easeInOut" data-speed="2" data-zoomstart="1" data-zoomend="1.4">
              <img src="/images/babbysitter-slider-star-3.png" alt="">
            </div>
          </div>
          <div class="tp-caption tp-fade rs-parallaxlevel-6" data-x="center" data-hoffset="198" data-y="bottom" data-voffset="-553" data-speed="1000" data-start="4000" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">
            <div class="tp-layer-inner-rotation   rs-pulse" data-easing="Power3.easeInOut" data-speed="2" data-zoomstart="1" data-zoomend="1.4">
              <img src="/images/babbysitter-slider-star-4.png" alt="">
            </div>
          </div>
          <div class="tp-caption tp-fade rs-parallaxlevel-5" data-x="center" data-hoffset="484" data-y="bottom" data-voffset="-579" data-speed="1000" data-start="5000" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">
            <div class="tp-layer-inner-rotation   rs-pulse" data-easing="Power3.easeInOut" data-speed="2" data-zoomstart="1" data-zoomend="1.4">
              <img src="/images/babbysitter-slider-star-5.png" alt="">
            </div>
          </div>
          <div class="tp-caption customin customout rs-parallaxlevel-10" data-x="center" data-hoffset="412" data-y="bottom" data-voffset="-485" data-customin="x:-300;y:700;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-customout="x:70;y:-150;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.01;scaleY:0.01;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="3500" data-start="2500" data-easing="Power0.easeIn" data-elementdelay="0.1" data-endelementdelay="0.1" data-end="6000" data-endspeed="1000" data-endeasing="Power0.easeInOut">
            <img src="/images/babbysitter-slider-rocket.png" alt="">
          </div>

          <!--
          <div class="tp-caption _bs_slider_text tp-fade tp-resizeme rs-parallaxlevel-0" data-x="center" data-hoffset="144" data-y="bottom" data-voffset="-233" data-speed="700" data-start="3900" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" data-captionhidden="on">
            <a href='#'>
              <img src='/user/themes/buzzi/images/social-icon-1.png' alt=''>
            </a>
            <a href='#'>
              <img src='/user/themes/buzzi/images/social-icon-2.png' alt=''>
            </a>
            <a href='#'>
              <img src='/user/themes/buzzi/images/social-icon-3.png' alt=''>
            </a>
            <a href='#'>
              <img src='/user/themes/buzzi/images/social-icon-4.png' alt=''>
            </a>
          </div> -->

          <div class="tp-caption tp-fade rs-parallaxlevel-0" data-x="center" data-hoffset="0" data-y="bottom" data-voffset="40" data-speed="300" data-start="0" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">
            <img src="/images/babbysitter-slider-ground-3.png" alt="">
          </div>
        </li>

      </ul>
    </div>
  </div>
</div>

