<header class="noFixMenu menu_right without_user_menu">
	<div class="topWrapFixed"></div>
	<div class="topWrap">
	  <div class="mainmenu_area">
		<div class="main with_logo_left">
		  <div class="logo logo_left">
			<a href="/">
			  <img src="/images/BuzziLogo.png" class="logo_main" alt="">
			  <img src="/images/BuzziLogo.png" class="logo_fixed" alt="">
			  <span class="logo_slogan"></span>
			</a>
		  </div>
  
		  <a href="#" class="openResponsiveMenu">Menu</a>
  
		  <nav role="navigation" class="menuTopWrap topMenuStyleLine">
  
			<ul id="mainmenu">
				<li><a href="/" class="pa3 no-underline db">Home</a></li>
		
				<li><a href="/what-we-do" class="pa3 no-underline db">What We Do</a></li>
		
				<li><a href="/information" class="pa3 no-underline db">Information</a></li>
		
				<li><a href="/contact" class="pa3 no-underline db">Contact</a></li>
			</ul>
  
		  </nav>
  
		</div>
	  </div>
	</div>
  </header>
