{{ define "main" }}

<div id="topOfPage" class="topTabsWrap">
  <div class="main">
    <h1 class="pageTitle h3">Information</h1>
  </div>
</div>

<div class="mainWrap without_sidebar">
    <div class="content">

<section>

        <div class="container container_style_1">
                <div class="sc_section bg_tint_light">
                  <div class="sc_content main">
                    <div class="columnsWrap sc_columns">
                       <div class="columns1_1">
    
                       <h2>Committee and Volunteers</h2>
    <p><strong>Buzzi Bodies is entirely run by volunteers. There is a committee which meets termly to plan activities. We hold an AGM around Easter each year.</strong></p>
    <div class="sc_button sc_button_style_global sc_button_size_banner curveButton_blue squareButton global banner margin_bottom_none">
        <a href="/pdf/Buzzis-AGM-March-2017-minutes.pdf" target="_blank">Meeting Minutes</a>
    </div>
    <p><br></p>
    <hr>
    <p><br></p>
    <h2>Policies</h2>
    <p><strong>Click a button to download our policies</strong></p>
    <div class="columns1_3">
    <div class="sc_button sc_button_style_global sc_button_size_banner squareButton curveButton_blue global banner margin_bottom_none">
        <a href="/pdf/Buzzi-Bodies-Registration-2017.pdf" target="_blank">Registration Form</a>
    </div>
    </div>
    <div class="columns1_3">
    <div class="sc_button sc_button_style_global sc_button_size_banner squareButton curveButton_blue global banner margin_bottom_none">
        <a href="/pdf/Buzzi-Bodies-General-Rules-v2.pdf" target="_blank">General Rules</a>
    </div>
    </div>
    <div class="columns1_3">
    <div class="sc_button sc_button_style_global sc_button_size_banner squareButton curveButton_blue global banner margin_bottom_none">
        <a href="/pdf/Buzzi-Bodies-Safeguarding-Policy-v2.pdf" target="_blank">Safe Guarding</a>
    </div>
    </div>
    
                      </div>
                    </div>
                  </div>
                </div>
            </div>

</section>

</div>

</div>

{{ end }}
