{{ define "main" }}

<div id="topOfPage" class="topTabsWrap">
  <div class="main">
    <h1 class="pageTitle h3">{{.Params.title}}</h1>
  </div>
</div>

<div class="mainWrap without_sidebar">
  <div class="content">

    <section>

      <div class="container container_style_1">
        <div class="sc_section bg_tint_light">
          <div class="sc_content main">
            <div class="columnsWrap sc_columns">
              <div class="columns1_1">

              <h2>{{.Params.heading1}}</h2>
              <p><strong>{{.Params.text1}}</strong></p>
              <div class="sc_button sc_button_style_global sc_button_size_banner curveButton_blue squareButton global banner margin_bottom_none">
                <a href="{{.Params.download1}}" target="_blank">{{.Params.download1_title}}</a>
              </div>
              <p><br></p>
              <hr>
              <p><br></p>

              <h2>Policies</h2>
              <p><strong>Click a button to download our policies</strong></p>
              <div class="columns1_3">
                <div class="sc_button sc_button_style_global sc_button_size_banner squareButton curveButton_blue global banner margin_bottom_none">
                  <a href="{{.Params.download2}}" target="_blank">{{.Params.download2_title}}</a>
                </div>
              </div>
              <div class="columns1_3">
                <div class="sc_button sc_button_style_global sc_button_size_banner squareButton curveButton_blue global banner margin_bottom_none">
                  <a href="{{.Params.download3}}" target="_blank">{{.Params.download3_title}}</a>
                </div>
              </div>
              <div class="columns1_3">
                <div class="sc_button sc_button_style_global sc_button_size_banner squareButton curveButton_blue global banner margin_bottom_none">
                  <a href="{{.Params.download4}}" target="_blank">{{.Params.download4_title}}</a>
                </div>
              </div>

              </div>
            </div>
          </div>
        </div>
      </div>

    </section>

  </div>

</div>

{{ end }}
