{{ define "main" }}

<div id="topOfPage" class="topTabsWrap">
  <div class="main">
    <h1 class="pageTitle h3">What We Do</h1>
  </div>
</div>

<div class="mainWrap without_sidebar">
    <div class="content">

<section>

<div class="container container_style_1">
  <div class="sc_section bg_tint_light">
    <div class="sc_content main">

      <div class="columnsWrap sc_columns">

        <div class="columns1_3">                
          <h3>FREE PLAY</h3>
          <p><img src="/images/Free-Play.jpg" alt="">
          We have a wide variety of toys including cars, play kitchen, train sets, dolls, dressing up, Happy Land, giant Jenga, Skuttle Bugs, baby toys and mats, books, puzzles, etc for the children to use for free play.</p>
        </div>

        <div class="columns1_3">                
          <h3>CRAFT &amp; MESSY PLAY</h3>
          <p><img src="/images/Craft.jpg" alt="">
          Each week we have a craft activity for the children to engage with. From time to time we have a session dedicated to Messy Play with several craft activities running together.</p>
        </div>

        <div class="columns1_3">                
          <h3>SINGING</h3>
          <p><img src="/images/Singing.jpg" alt="">
          Whilst the toys are being tidied away, we wrap up each session with a 15min group singing session. The children can make use of various musical instruments to play along as well as singing.</p>
        </div>

      </div>

      <div class="columnsWrap sc_columns">

        <div class="columns1_3">                
          <h3>REFRESHMENTS</h3>
          <p>
          We have tea, coffee and biscuits for the adults, and the children are offered water, juice, fruit and biscuits.</p>
        </div>

        <div class="columns1_3">                
          <h3>ACTIVITIES</h3>
          <p><img src="/images/Activities.jpg" alt="">
          Each week we have a craft activity for the children to engage with. From time to time we have a session dedicated to Messy Play with several craft activities running together.</p>
        </div>

        <div class="columns1_3">                
          <h3>VISITS</h3>
          <p><img src="/images/Visits.jpg" alt="">
          Whilst the toys are being tidied away, we wrap up each session with a 15min group singing session. The children can make use of various musical instruments to play along as well as singing.</p>                
        </div>

      </div>

    </div>
  </div>
</div>

</section>

    </div>

</div>

{{ end }}
